version: '3'

services:
    web:
        depends_on:
            - mysql
        image: 186165563103.dkr.ecr.ap-northeast-1.amazonaws.com/dc-serposcope:latest
        build: "."
        ports:
            - "7134:7134"
            - "1099:1099"
            - "8000:8000"
        volumes:
            - "~/serposcope/logs:/var/log/serposcope"
            - "~/.aws/credentials:/root/.aws/credentials"
            - "./web/target/serposcope.jar:/var/lib/serposcope/serposcope.jar"
        links:
            - mysql
        environment:
            SERPOSCOPE_DB_PASSWORD: secret
            SERPOSCOPE_UPLOAD_BUCKET: jp.markeship.serposcope.serps-dev
    mysql:
        image: mysql:5.7
        environment:
            MYSQL_DATABASE: serposcope
            MYSQL_ROOT_PASSWORD: secret
        ports:
            - "23306:3306"
