
<!--
Serposcope - SEO rank checker https://serposcope.serphacker.com/

Copyright (c) 2016 SERP Hacker
@author Pierre Nogues <support@serphacker.com>
@license https://opensource.org/licenses/MIT MIT License
-->
<configuration>
    
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d] [%t] %-5p %c{5} - %m%n</pattern>
        </encoder>
    </appender>
  

    <root level="WARN">
        <appender-ref ref="STDOUT" />
    </root>    
    
    <logger name="com.serphacker" level="INFO" />
    <logger name="conf" level="WARN" />
    <logger name="serposcope" level="INFO" />
    <logger name="org.apache.http.client.protocol.ResponseProcessCookies" level="ERROR" />
    <logger name="com.serphacker.serposcope.scraper.http.extensions" level="ERROR" />
<!--    <logger name="ninja" level="TRACE" />-->
    
</configuration>
