<#-- @ftlvariable name="serp" type="com.serphacker.serposcope.models.google.GoogleSerp" -->
<#import "../admin.ftl.html" as layout>
<@layout.adminLayout i18n("admin.task.title") >

<div class="row" >
    <div class="col-xs-12" >
        <div class="content-div" >
            <h2 class="styled-h2">${i18n("admin.task.runningTasks")}</h2>
            <table class="table table-bordered table-condensed table-striped table-task">
                <tr>
                    <th style="width: 50px">#</th>
                    <th style="width: 200px;text-align:left">${i18n("label.user")}</th>
                    <th style="text-align:left">${i18n("label.group")}</th>
                    <th style="width: 150px">${i18n("label.started")}</th>
                    <th style="width: 200px">${i18n("label.progress")}</th>
                    <th style="width: 50px">${i18n("label.duration")}</th>
                    <th style="width: 30px">${i18n("label.done")}</th>
                    <th style="width: 30px">${i18n("label.total")}</th>
                    <th style="width: 30px">${i18n("label.captchas")}</th>
                    <th style="width: 30px">${i18n("label.errors")}</th>
                    <th style="width: 100px">${i18n("label.actions")}</th>
                </tr>
                <#list running as task>
                <tr>
                    <td>${task.getId()}</td>
                    <td>${(task.user.name)!(task.user.email)!}</td>
                    <td>
	                    <#if task.getGroup()??>
	                    <a href="${reverseRoute("google.GoogleGroupController","view","groupId",task.getGroup().getId())}" >
	                    	${(task.group.name)!}
	                    </a>
	                    </#if>
                    </td>
                    <td>${global.ldtf.format(task.getStarted())}</td>
                    <td>
                        <div class="progress" title="${i18n("admin.task.remainingTime")} : ${task.getRemainingTimeFormated()}" data-toggle="tooltip" >
                            <div 
                                class="progress-bar progress-bar-striped active <#if task.getStatus() != "RUNNING" >progress-bar-warning</#if>" 
                                style="width: ${task.getProgress()}%; min-width: 50px;"
                            >
                                <span>
                                    <#if task.getStatus() != "RUNNING" >
                                        ${i18n("admin.task.aborting")}
                                    <#else>
                                        ${task.getProgress()} %
                                    </#if>
                                </span>
                            </div>
                        </div>
                    </td>
                    <td>${task.getDurationFormated()}</td>
                    <td>${task.getDone()}</td>
                    <td>${task.getTotal()}</td>
                    <td>${task.getCaptchas()}</td>
                    <td>${task.getErrors()}</td>
                    <td>
                        <#if user.isAdmin() || user.email == (task.user.email)!>
                        <a href="${reverseRoute("admin.TaskController","abortTask","id",task.getId(),"_xsrf", session.___AT)}" class="text-danger" >${i18n("label.abort")}</a>
                        <#else>
                        &nbsp;
                        </#if>
                    </td>
                </tr>
                </#list>
            </table>
            <br/>

            <h2 class="styled-h2">${i18n("admin.task.doneTasks")}</h2>
            <table class="table table-bordered table-condensed table-task">
                <tr>
                    <th style="width: 30px">#</th>
                    <th style="width: 200px;text-align:left">${i18n("label.user")}</th>
                    <th style="text-align:left">${i18n("label.group")}</th>
                    <th style="width: 150px">${i18n("label.started")}</th>
                    <th style="width: 50px">${i18n("label.duration")}</th>
                    <th style="width: 30px">${i18n("label.total")}</th>
                    <th style="width: 30px">${i18n("label.captchas")}</th>
                    <th style="width: 30px">${i18n("label.errors")}</th>
                    <th style="width: 100px">${i18n("label.status")}</th>
                    <#if user.isAdmin()>
                    <th style="width: 100px">${i18n("label.actions")}</th>
                    </#if>
                </tr>            
                <#list done as task>
                <#if task.getStatus() == "DONE_SUCCESS" >
                <tr class="success" >
                <#elseif task.getStatus() == "DONE_ABORTED" >
                <tr class="warning" >
                <#else>
                <tr class="danger" >
                </#if>                
                    <td style="text-align:center;">${task.getId()}</td>
                <#if task.getMode() == "CRON" >
                    <td>&lt;&lt;${i18n("label.cron")}&gt;&gt;</td>
                <#else>
                    <td>${(task.user.name)!(task.user.email)!}</td>
                </#if>
                    <td>
	                    <#if task.getGroup()??>
	                    <a href="${reverseRoute("google.GoogleGroupController","view","groupId",task.getGroup().getId())}" >
	                    	${(task.group.name)!}
	                    </a>
	                    </#if>
                    </td>
                    <td>${global.ldtf.format(task.getStarted())}</td>
                    <td>${task.getDurationFormated()}</td>
                    <td style="text-align:center;">${task.getTotal()}</td>
                    <td style="text-align:center;">${task.getCaptchas()}</td>
                    <td style="text-align:center;">${task.getErrors()}</td>
                    <td style="text-align:center;">
                	<#if task.getStatus() == "DONE_SUCCESS" >
                    	${i18n("label.statusSuccess")}
                	<#elseif task.getStatus() == "DONE_ABORTED" >
                    	${i18n("label.statusAborted")}
                	<#elseif task.getStatus() == "DONE_WITH_ERROR" >
                    	${i18n("label.statusWithError")}
                	<#else>
                    	${i18n("label.statusCrashed")}
                	</#if>
                	</td>
                    <#if user.isAdmin()>
                    <td style="text-align:center;">
                        <a href="${reverseRoute("admin.TaskController","deleteRun","runId",task.getId())}" 
                            class="btn-delete-run text-danger"
                            data-id="${task.id}" 
                            data-date="${task.getDay()}" 
                            data-toggle="tooltip" title="${i18n("label.delete")}" >
                            <i class="fa fa-fw fa-remove" ></i>
                        </a>
                        <#if task.getModule() == "GOOGLE" >
                        <a href="${reverseRoute("admin.TaskController","rescanSerp","runId",task.getId())}" 
                            class="btn-rescan-serp text-warning" data-date="${task.getDay()}" 
                            data-toggle="tooltip" title="${i18n("label.rescanSerp")}" >
                            <i class="fa fa-fw fa-refresh" ></i>
                        </a>
                        </#if>
                    </td>
                    </#if>
                </tr>
                </#list>
            </table>
            <nav>
                <ul class="pager">
                    <#if previousPage?? >
                        <li class="previous"><a href="${reverseRoute("admin.TaskController","tasks","page",previousPage)}"> &larr; ${i18n("label.previous")}</a></li>
                    <#else>
                    <li class="previous disabled"><span>&larr; ${i18n("label.previous")}</span></li>
                    </#if>
                    <#if nextPage?? >
                        <li class="next"><a href="${reverseRoute("admin.TaskController","tasks","page",nextPage)}">${i18n("label.next")} &rarr;</a></li>
                    <#else>
                    <li class="next disabled"><span>${i18n("label.next")} &rarr;</span></li>
                    </#if>                    
                    
                </ul>
            </nav>
        </div>
    </div>
</div>
<div id="modal-delete-task" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="POST">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title no-user-select">${i18n("admin.task.delete")} [ <span id="delete-task-id"></span> ]</h4>                  
                  <input type="hidden" name="_xsrf">
                </div>

                <div class="modal-body">
                   <label for="deleteTaskId">${i18n("admin.task.id")}</label>
                   <input id="deleteTaskId" name="id" class="form-control">
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">${i18n("label.close")}</button>
                    <input type="submit" class="btn btn-primary" value="${i18n("label.delete")}" />
                </div>
            </form>
        </div>
    </div>
</div>
<div class="csp-script" data-src="adminTaskController.render" ></div>
</@>