<#assign sideMenu>
<li>
    <span class="first-level"><i class="fa fa-cubes fw"></i> ${i18n("label.groups")}</span>
    <ul class="nav nav-second-level">
        <li>
            <div class="form-search form-group has-feedback has-feedback">
                <input id="sidebar-group-search" type="text" class="form-control" placeholder="${i18n("label.searchGroup")} ..." />
                <i class="form-control-feedback glyphicon glyphicon-search"></i>
            </div>
        </li>
    </ul>
</li>
</#assign>
<#import "../layout/root.ftl.html" as layout> 
<@layout.rootLayout i18n("label.groups") "${sideMenu}" >
<#if h2warning?? && h2warning >
    <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">${i18n("label.close")}</span></button>
        <div class="alert-upper">${i18n("groups.h2warning")}</div>
    </div>
</#if>
<div class="row" >
    <div class="col-xs-12" >

        <ul class="nav nav-tabs" role="tablist">
            <li class="active">
                <a href="#groups" data-toggle="tab">${i18n("label.groups")}</a>
            </li>
        </ul>

        <div class="tab-content tab-groups">
            <div class="tab-pane active" id="groups">
                <div class="row top5" >
                    <div class="col-xs-12" >
                        <p>${i18n("groups.uniqueKWnumber")} : <strong>${search_count}</strong></p>
                        <div class="row bottom15" >
                            <div class="col-xs-12" >
                                <a href="#"  class="btn btn-primary btn-add-group" >${i18n("label.newGroup")}</a>
                            </div>
                        </div>
                        <table class="table table-condensed table-bordered" >
                            <tr>
                                <th class="width30" style="white-space:nowrap;text-align:center;vertical-align:middle;" rowspan=2>#</th>
                                <th style="white-space:nowrap;vertical-align:middle;" rowspan=2>${i18n("label.name")}</th>
                                <th class="width30" style="white-space:nowrap;text-align:center;vertical-align:middle;" rowspan=2>${i18n("label.websites")}</th>
                                <th class="width30" style="white-space:nowrap;text-align:center;vertical-align:middle;" rowspan=2>${i18n("label.searches")}</th>
                                <th class="day-of-the-week-schedule" colspan=7>${i18n("label.schedule")}</th>
                            </tr>
                            <tr>
                                <th class="day-of-the-week-schedule">${i18n("label.short.sunday")}</th>
                                <th class="day-of-the-week-schedule">${i18n("label.short.monday")}</th>
                                <th class="day-of-the-week-schedule">${i18n("label.short.tuesday")}</th>
                                <th class="day-of-the-week-schedule">${i18n("label.short.wednesday")}</th>
                                <th class="day-of-the-week-schedule">${i18n("label.short.thursday")}</th>
                                <th class="day-of-the-week-schedule">${i18n("label.short.friday")}</th>
                                <th class="day-of-the-week-schedule">${i18n("label.short.saturday")}</th>
                            </tr>
                            <#list groups as group>
                            <tr>
                                <td style="white-space:nowrap;" >
                                    <a href="${reverseRoute("google.GoogleGroupController","delete", "groupId",group.getId())}" class="btn-delete-group text-danger" 
                                       data-id="${group.getId()}" data-name="${group.getName()}"
                                       title="${i18n("label.delete")}" data-toggle="tooltip" 
                                    >
                                        <i class="glyphicon glyphicon-remove" ></i>
                                    </a>
                                    <a href="${reverseRoute("google.GoogleGroupController","rename","groupId",group.getId())}" class="btn-rename-group text-normal" 
                                       data-id="${group.getId()}" data-name="${group.getName()}"
                                       data-sunday-enabled="${group.isSundayEnabled()?c}"
                                       data-monday-enabled="${group.isMondayEnabled()?c}"
                                       data-tuesday-enabled="${group.isTuesdayEnabled()?c}"
                                       data-wednesday-enabled="${group.isWednesdayEnabled()?c}"
                                       data-thursday-enabled="${group.isThursdayEnabled()?c}"
                                       data-friday-enabled="${group.isFridayEnabled()?c}"
                                       data-saturday-enabled="${group.isSaturdayEnabled()?c}"
                                       title="${i18n("label.rename")}" data-toggle="tooltip" 
                                    >
                                        <i class="glyphicon glyphicon-edit" ></i>
                                    </a>
                                </td>
                                <td>
                                	<a href="${fu.groupLink(group)}" >${group.getName()}</a>
                                </td>
                                <td style="text-align:center;">${group.targets!0}</td>
                                <td style="text-align:center;">${group.searches!0}</td>
                                <td class="day-of-the-week-schedule">
                                	<#if (group.isSundayEnabled())>
                                	<i class="glyphicon glyphicon-ok-sign"></i>
                                	<#else>
                                	-
                                	</#if>
                                </td>
                                <td class="day-of-the-week-schedule">
                                	<#if (group.isMondayEnabled())>
                                	<i class="glyphicon glyphicon-ok-sign"></i>
                                	<#else>
                                	-
                                	</#if>
                                </td>
                                <td class="day-of-the-week-schedule">
                                	<#if (group.isTuesdayEnabled())>
                                	<i class="glyphicon glyphicon-ok-sign"></i>
                                	<#else>
                                	-
                                	</#if>
                                </td>
                                <td class="day-of-the-week-schedule">
                                	<#if (group.isWednesdayEnabled())>
                                	<i class="glyphicon glyphicon-ok-sign"></i>
                                	<#else>
                                	-
                                	</#if>
                                </td>
                                <td class="day-of-the-week-schedule">
                                	<#if (group.isThursdayEnabled())>
                                	<i class="glyphicon glyphicon-ok-sign"></i>
                                	<#else>
                                	-
                                	</#if>
                                </td>
                                <td class="day-of-the-week-schedule">
                                	<#if (group.isFridayEnabled())>
                                	<i class="glyphicon glyphicon-ok-sign"></i>
                                	<#else>
                                	-
                                	</#if>
                                </td>
                                <td class="day-of-the-week-schedule">
                                	<#if (group.isSaturdayEnabled())>
                                	<i class="glyphicon glyphicon-ok-sign"></i>
                                	<#else>
                                	-
                                	</#if>
                                </td>
                            </tr>
                            </#list>
                        </table>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</div>

<div class="csp-script" data-src="GroupController.render" ></div>

</@>